/* line 1, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
r.opening-line-header {
  color: black;
  top: 20%;
  text-align: center;
  height: 411px;
  margin-top: -26px;
  margin-bottom: -71px;
}

/* line 11, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-container, .article-artist-header h4, .article-content p {
  font-family: 'Fjalla One', sans-serif;
}

/* line 15, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-content p {
  font-size: 14px;
  line-height: 140%;
  color: #666;
  margin-bottom: 5px !important;
}

/* line 23, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-header-container img {
  width: 100%;
}

/* line 27, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.artice-small-image-container-full {
  margin-top: 50px;
}

/* line 32, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-artist-header {
  margin-top: 88px;
  text-align: center;
  padding-bottom: 30px;
}

/* line 38, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-text-container {
  padding-left: 2rem !important;
  padding-top: 1rem;
}

/* line 42, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.artice-small-image-container {
  padding-top: 26px;
}

/* line 46, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-artist-header h1, .article-artist-header h2 {
  width: 70%;
  margin: 0 auto;
  font-family: Oranienbaum;
}

/* line 52, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-artist-header p {
  font-family: 'Fjalla One', sans-serif;
}

/* line 57, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*.article-header-container{
  height: 400px;
}*/
/* line 67, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-text-container {
  font-family: Oranienbaum;
  font-size: 18px;
  line-height: 140%;
  color: #666;
}

/* line 74, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-content p {
  font-size: 18px;
  line-height: 140%;
  color: #666;
  margin-bottom: 5px !important;
  font-family: Oranienbaum;
}

/* line 83, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.article-content p b {
  color: black;
}

/* line 87, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.artice-small-image-container {
  position: relative;
}

/* line 90, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.artice-small-image-container img {
  width: 94%;
  max-height: 100%;
}

/* line 95, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.artice-small-image-container-full img {
  width: 100%;
  height: 100%;
}

/* line 100, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
.mobile-test {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* line 105, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
  .article-artist-header {
    margin-top: 160px !important;
    text-align: center;
  }

  /* line 109, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
  .blurb-break {
    display: none;
  }

  /* line 112, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
  .article-artist-header h1 {
    font-size: 21px;
  }

  /* line 115, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
  .mobile-test {
    display: block;
  }

  /* line 118, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/article.css.scss */
  .social-image img {
    width: 200% !important;
    margin-left: -53%;
  }
}
/* line 1, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/jamesbennett/Desktop/jb_projects/forshaw_music/fitchPork/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.home-container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

/* line 7, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}

/* line 12, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show-all {
  position: relative;
  top: 30em;
  margin-left: 1em;
}

/* line 18, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.login {
  margin-top: 150px;
}

/* line 23, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest_article {
  position: absolute;
  height: 26em;
  width: 100%;
  max-width: 1700px;
}

/* line 34, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show {
  width: 49%;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  vertical-align: top;
}

/* line 42, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest-article-image:hover {
  cursor: pointer;
}

/* line 46, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.header-article-info {
  width: 100%;
  margin-top: 173px;
}

/* line 51, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.image {
  position: relative;
  height: 20em;
  margin-right: 1em;
}

/* line 57, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-summary-text {
  clear: both;
  margin-top: 24px;
  font-size: 20px;
}

/* line 63, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.top-margin {
  margin-top: 2%;
}

/* line 67, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest_article {
  margin-top: -12px;
}

/* line 71, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show-right-container {
  height: 40em;
  margin-top: 0px;
}

/* line 76, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show-left-container {
  height: 40em;
}

/* line 80, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-full-width-separator {
  width: 153%;
  height: 38.5em;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 98.5% !important;
  margin-left: 0.3em;
}

/* line 89, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.image-mid-feature {
  width: 100% !important;
  height: 38.5em;
}

/* line 95, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.image-height-override-hundred {
  height: 41em !important;
}

/* line 99, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show-right-stretch {
  width: 100% !important;
}

/* line 105, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-show img {
  width: 78%;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 117, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.text {
  margin: auto;
  font-size: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
}

/* line 138, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-info {
  text-align: left;
  color: grey;
  height: 100%;
}

/* line 144, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-info-large {
  color: white;
  text-align: left;
}

/* line 148, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.indiv-article-artist {
  height: 40%;
}

/* line 152, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-info-large {
  height: 100%;
}

/* line 156, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.third {
  height: 33%;
}

/* line 160, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.half {
  height: 50%;
}

/* line 163, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.indiv-article-artist p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  padding-top: 20px;
  padding-left: 10px;
  line-height: 120%;
  word-wrap: break-word;
}

/* line 172, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-info-large .indiv-article-artist p {
  font-size: 65px;
}

/* line 176, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.indiv-article-subtitle p {
  font-size: 20px;
  line-height: 120%;
  font-family: Oranienbaum;
  padding: 5px;
  padding-left: 10px;
}

/* line 184, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.social-top-link i.fa {
  float: right;
  font-size: 25px;
  color: white;
  line-height: 250%;
}

/* line 191, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-info a {
  color: white;
}

/* line 195, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest-article-image img {
  height: 100%;
}

/* line 199, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest-article-image {
  height: 100%;
  width: 97%;
  margin-left: 1%;
  display: inline-block;
  margin-right: 2%;
}

/* line 207, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.latest-article-images {
  height: 100%;
  width: 106%;
  margin-left: -2%;
}

/* line 213, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.test {
  border: 1px solid black;
  position: relative;
}

/* line 218, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.artist-link-text {
  z-index: 1000;
}

/* line 222, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.header-artist-link-text {
  font-size: 67px;
  text-decoration: overline underline;
}

/* line 227, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.header-article-info p {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  float: left;
  margin-left: 5%;
}

/* line 234, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.header-artist-link-text a {
  color: white;
}

/* line 241, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.article-artist-name {
  height: 30px;
}

/* line 245, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.right-container-text {
  color: purple;
}

/* line 251, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.search-box {
  float: right;
  margin-right: 22%;
  margin-top: -62px;
  height: 28px;
  width: 19%;
  border: 2px solid grey;
  border-radius: 5%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}

/* line 263, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.mobile-container {
  display: none;
}

/* line 267, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
.desktop-container {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 275, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  body .header {
    height: 2em;
  }

  /* line 278, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  h5.top-margin {
    display: none;
  }

  /* line 282, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .header .header-container a img {
    width: 158px;
    margin-top: 5px;
  }

  /* line 287, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .social-top-link i.fa {
    font-size: 7vw;
    text-align: right;
  }

  /* line 292, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .top-margin {
    margin-top: 58px;
  }

  /* line 296, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .home-container {
    margin-top: 177px;
  }

  /* line 300, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .mobile-container {
    display: block;
  }

  /* line 304, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .desktop-container {
    display: none;
  }

  /* line 308, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .article-show-all {
    margin: auto;
  }

  /* line 312, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .full-width {
    width: 97.5%;
  }

  /* line 316, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .half-width {
    width: 49%;
  }

  /* line 319, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .image {
    margin-right: 0;
  }

  /* line 323, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .article-show-right-stretch, .image {
    height: 13em;
  }

  /* line 326, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .latest-article-images {
    width: 100% !important;
    margin-left: 0.5%;
  }

  /* line 330, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .latest-article-image {
    height: 113%;
  }

  /* line 333, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .full-width-100 {
    width: 100%;
  }

  /* line 337, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .indiv-article-artist p {
    font-size: 25px;
    color: white;
  }

  /* line 342, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .indiv-article-subtitle p {
    font-size: 13px;
    color: white;
  }

  /* line 347, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .indiv-article-artist, .indiv-article-subtitle {
    background: rgba(0, 0, 0, 0.3);
  }

  /* line 351, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .article-info {
    height: 70%;
  }

  /* line 354, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .indiv-article-artist {
    height: 60%;
  }

  /* line 357, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .indiv-article-subtitle {
    height: 40%;
  }

  /* line 361, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .fifty-height {
    height: 50%;
    background: rgba(0, 0, 0, 0.3);
  }

  /* line 365, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .fifty-height p {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 40px;
    padding-top: 9px;
    padding-left: 6px;
    text-align: center;
    line-height: 120%;
  }

  /* line 374, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .sixty-height {
    height: 60%;
    background: rgba(0, 0, 0, 0.3);
  }

  /* line 378, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .sixty-height p {
    font-family: Oranienbaum;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    line-height: 120%;
  }

  /* line 386, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .header-article-info {
    margin-top: 44px;
  }

  /* line 389, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .article-summary-text {
    margin-top: 5%;
    line-height: 120%;
  }

  /* line 393, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .header-article-info p {
    line-height: 130%;
    float: inherit;
    text-align: center;
  }

  /* line 399, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/welcomes.scss */
  .header-artist-link-text {
    font-size: 60px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *









 */
/* line 24, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Oranienbaum';
  src: url(/assets/Oranienbaum-a8d0f305c0f23b0ea86ec44ff99831d2.ttf);
  src: url(/assets/Oranienbaum-a8d0f305c0f23b0ea86ec44ff99831d2.ttf) format("truetype");
}
/* line 39, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Fjalla One', sans-serif;
}

/* line 43, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
}

/* line 47, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
a:hover {
  background-color: rgba(50, 0, 0, 0);
  color: #A0A0A0;
}

/* line 52, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.article-container {
  margin-top: 0px !important;
}

/* line 56, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.height-5 {
  height: 5%;
}

/* line 60, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.height-90 {
  height: 90%;
}

/* line 65, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.header {
  width: 100%;
  top: 0;
  position: fixed;
  font-size: 5em;
  height: 1.1em;
  background: black;
  z-index: 3;
  font-weight: bold;
  padding-top: 1%;
  font-family: "Fjalla One", sans-serif !important;
}

/* line 78, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.header-container {
  height: 100%;
}

/* line 81, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.header-container a img {
  width: 90px;
  margin-top: -64px;
}

/* line 87, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.header-container h5 {
  color: white;
  font-size: 31px;
  text-align: center;
  line-height: 200%;
}

/* line 93, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.pull-right {
  float: right;
}

/* line 97, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.social-image img {
  width: 30%;
}

/* line 100, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.social-image {
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

/* line 108, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.hidden {
  display: none;
}

/* line 112, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
.container {
  margin-top: 50px;
}

/* line 118, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #DBDBDB;
  text-align: center;
  font-size: 17px;
}

/* line 123, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #DBDBDB;
  opacity: 1;
  text-align: center;
  font-size: 17px;
}

/* line 130, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #DBDBDB;
  opacity: 1;
  text-align: center;
  font-size: 17px;
}

/* line 137, /Users/jamesbennett/Desktop/WEB DEVELOPMENT/forshaw_music/fitchPork/app/assets/stylesheets/application.css.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #DBDBDB;
  text-align: center;
  font-size: 17px;
}
/**** Base styles ****/

nav#page-nav {
  display: block;
}

body {
  overflow-y: scroll;
}

#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img {
  display: block;
  width: 100%;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Centered example */

.centered { margin: 0 auto; }
/**** Fluid ****/

#container.fluid  {
  padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
  to allow for rounding errors in Firefox */
.fluid .box {
  margin: 5px 0.9% 5px 1%;
  padding: 5px 1%;
}

.fluid .box.col1 { width: 16%; }
.fluid .box.col2 { width: 36%; }
.fluid .box.col3 { width: 56%; }
/**** Gutters ****/


.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }
.has-gutters .col2 { width: 230px; }
.has-gutters .col3 { width: 370px; }
.has-gutters .col4 { width: 550px; }
/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}
/**** Transitions ****/


.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}
