<div class="home-container">
  <% @articles.each do |article| %>
    <div class="article-show">
      <div class="image">
        <%= image_tag(article.image_one) %>
      </div>
      <div class="text">
        <%= link_to article.artist, article_path(article) %>
      </div>
    </div>
  <% end %>
</div>
