<div class="home-container">
  <div class="latest_article"> 
  </div>
  <div class="article-show-all">
    <% @articles.each do |article| %>
      <div class="article-show">
        <div class="image">
          <%= image_tag(article.image_one) %>
          <div class="article-info hidden">
            <%= link_to(article.category, article_path(article)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
