/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */
 * {
    margin: 0px;
    padding: 0px;
 }


 @font-face {
    font-family: 'Oranienbaum';
    src: url('/assets/Oranienbaum.ttf');
}

 body {
  font-family: 'Fjalla One', sans-serif;
 }

a {
  text-decoration: none;
}

a:hover {
  background-color: rgba(50,0,0,0);
  color: #A0A0A0;
}

.article-container{
  margin-top: 72px!important;
}


 .header {
  width: 100%;
  top: 0;
  position: fixed;
  font-size: 5em;
  height: 1.1em;
  background: black;
  z-index: 3;
  font-weight: bold;
  padding-top: 1%;
  font-family: 'Fjalla One', sans-serif!important;
 }

 .header-container a img{
    width: 100px;
    border-radius: 50px;
    margin-top: -56px;
 }


.header-container h5{
  color:white;
}
 .pull-right{
  float:right;
 }

.social-image img{
  width: 30%;
}
.social-image{
  text-align: center;
  padding: 20px;
}


 .hidden {
  display:none;
 }

.container {
    margin-top: 50px;
}



 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color:    #DBDBDB;
     text-align: center;
     font-size: 17px;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #DBDBDB;
    opacity:  1;
    text-align: center;
    font-size: 17px;
    
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #DBDBDB;
    opacity:  1;
    text-align: center;
    font-size: 17px;
    
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #DBDBDB;
    text-align: center;
    font-size: 17px;
    
 }