.article-intro-large-header{
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.article-header-image{
  width: 100%;
  margin-top: -2%;
}
.article-content{
  height: 500px;
}
.article-header-static{
  position:relative;
}
.article-header-image img{
  width: 100%;
}
.article-header-title p, .article-header-subtitle p, .article-header-artist p{
  color: white;
  font-family: 'Fjalla One', sans-serif;
  /*text-shadow: 1px 1px 1px #4F4D4D;*/
}

.article-header-title{
  margin-top: 2%;
}

.article-header-title p{
  font-size: 47px;
  letter-spacing: 2px;
  line-height: 52px;
  width: 92%;
  margin: 0 auto;
  text-align: center;
}

.further-article-info{
  width: 91%;
  margin: 0 auto;
  margin-top: 5%;
}
.article-header-subtitle{
  width: 100%;
  display: inline-block;
}
.article-header-subtitle p, .article-header-artist p{
  font-size: 25px;
  line-height: 37px;
}
.article-header-artist{
  width: 39%;
  display: block;
  margin-top: 8%;
}
.article-header-artist p{
  letter-spacing: 16px;
  font-size: 25px;
}
.article-header-subtitle p{
  padding-right: 30px;
}
.article-intro-large-header{
  opacity: 0.3;
}
.article-header-with-content{
  position:absolute;
  width: 100%;
  height: 100%;
  top:1px;
}
.article-intro-large-header-coloring{
  position:absolute;
  width: 100%;
  height: 100%;
  top:1px;
  background: blue;
  opacity: 0.2;
}
.scroll-to-content{
  margin-top: 19%;
  margin-left: 50%;
  width: 100px;
}
.scroll-to-content:hover{
  cursor:pointer;
}
.scroll-to-content p{
  color:white;
  font-family: 'Fjalla One', sans-serif;

}

.article-text-first p{
  font-size: 20px;
  line-height:20px;
}
#article-content{
  margin-top: 73px;
}
.article-image-first-container img{
  width: 100%;
}
