.article-artist-header{
  color: white;
  position: absolute;
  top: 20%;
  width: 97%;
  text-align: center;
}


.article-container, .article-artist-header h4, .article-content p{
  font-family: 'Fjalla One', sans-serif;
}

.article-content p {
  font-size: 14px;
  line-height: 140%;
  color: #666;
}

.article-content p b{
  color: black;
}

.artice-small-image-container img{
  width: 100%;
}
