.article-artist-header{
  color: white;
  position: absolute;
  top: 20%;
  width: 97%;
  text-align: center;
}


.article-container, .article-artist-header h4, .article-content p{
  font-family: 'Fjalla One', sans-serif;
}

.article-content p {
  font-size: 14px;
  line-height: 140%;
  color: #666;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.article-content p b{
  color: black;
}

.artice-small-image-container{
  position:relative;
}
.artice-small-image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
