.article-artist-header{
  color: white;
  position: absolute;
  top: 20%;
  width: 97%;
  text-align: center;
}


.article-container, .article-artist-header h4, .article-content p{
  font-family: 'Fjalla One', sans-serif;
}

.article-content p {
  font-size: 15px;
  line-height: 200%;
}

.artice-small-image-container img{
  width: 100%;
}
