.home-container {
  width: 100%;
  text-align: center;
  margin-top:100px;
}

.article-show-all {
  position: relative;
  top: 30em;
  margin-left: 1em;
  width: 64%;
}


.latest_article {
  position: absolute;
  height: 26em;
  width: 100%;
}

.logo-container{
  
}
.article-show {
  width: 49%;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  vertical-align: top;
}

.latest-article-image:hover{
  cursor:pointer;
}

.header-article-info {
  width: 100%;
  margin-top:173px;
}

.image {
  position: relative;
  height: 20em;
  margin-right: 1em;
}

.article-summary-text{
  clear: both;
  margin-top: 24px;
  font-size: 20px;
}

.top-margin{
  margin-top: 22px;
}

.latest_article{
  margin-top: -12px;
}


.article-show-right-container{
  width: 33%;
  float: right;
  position: relative;
  margin-top: -94.5em;
  top: 0;
}

.article-full-width-separator{
  width: 153%;
  height: 38.5em;
  margin-bottom: 2em;
}

.image-mid-feature{
  width: 100% !important;
  height: 38.5em;
}

.article-show-right-indiv-article{
  height:42em;
  margin-bottom:40.5em;
}

.image-height-override-hundred{
  height: 41em!important;
}

.article-show-right-stretch{
  width:100%!important;
}



.article-show img {
  width: 78%;
  position: relative;
  // overflow: hidden ;
  -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
}


.text {
  margin: auto;
  font-size: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
}



// .article-show:hover p {
//   font-size: 40px;
//   color: '#404040';
//   top: 40%;
//   left: 15%;
// }

// .article-show:hover .text .article-category{
//   font-size: 15px;
// }

// .article-show:hover .text .article-artist{
//   font-size: 40px;
// }


// .article-show:hover img {
//   opacity: 0.2;
// }



.article-info{
  text-align:left;
  color:grey;
  height: 100%;
}

.article-info-large{
  color:white;
  text-align: left;
}
.indiv-article-artist{
  height:40%;
}

.article-info-large{
  height:100%;
}

.third{
  height:33%;
}

.half{
  height: 50%;
}
.indiv-article-artist p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 5px;
  line-height: 120%;
}

.article-info-large .indiv-article-artist p{
  font-size: 65px;
}

.indiv-article-subtitle p {
    font-size: 20px;
    line-height: 120%;
    font-family: Oranienbaum;
    padding: 5px;
}

.article-info a {
  color: white;
}

.latest-article-image img {
  height: 100%;
}

.latest-article-image {
  height: 100%;
  width: 97%;
  margin-left: 1%;
  display: inline-block;
  margin-right: 2%;
}

.latest-article-images {
  height: 100%;
  width: 106%;
  margin-left: -2%;
}

.test {
  border: 1px solid black;
  position: relative;
}

.artist-link-text {
  z-index: 1000;
}

.header-artist-link-text {
  font-size: 67px;
  text-decoration: overline underline;
}

.header-article-info p{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  float: left;
  margin-left: 5%;
}

.header-artist-link-text a {
  color: white;
}




.article-artist-name{
  height:30px;
}

.right-container-text{
  color: purple;
}



.search-box {
  float: right;
  margin-right: 22%;
  margin-top: -62px;
  height: 28px;
  width: 19%;
  border: 2px solid grey;
  border-radius: 5%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}















