.home-container {
  width: 97%;
  text-align: center;
  margin-left: 4.4%;
}

.article-show-all {
  position: relative;
  top: 27em;
}

.latest_article {
  position: absolute;
  height: 24em;
  width: 92%;
}
.article-show {
  width: 28%;
  display: inline-block;
  margin-bottom: 10px;
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
}

.article-show img {
  width: 78%;
  position: relative;
  // overflow: hidden ;
  -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
}


.text {
  margin: auto;
  font-size: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
}

.article-category {
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
}

.article-show:hover .text {
  font-size: 40px;
  color: '#404040';
  top: 40%;
  left: 15%;
}

// .article-show:hover .text .article-category{
//   font-size: 15px;
// }

// .article-show:hover .text .article-artist{
//   font-size: 40px;
// }


.article-show:hover img {
  opacity: 0.2;
}

.article-info {
  position: absolute;
  left: 14%;
  top: 15%;
  font-size: 47px;
}

.article-info a {
  color: white;
}

.latest-article-image img {
  height: 100%;
}

.latest-article-image {
  height: 100%;
  width: 49%;
  display: inline-block;
}

.latest-article-images {
  height: 100%;
}













