.home-container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.article-show {
  width: 26%;
  margin: 1%;
  height: 8em;
  display: inline-block;
  font-size: 40px;
  line-height: 5em;
}
.article-show img {
  max-width: 100%;
}









