.home-container {
  width: 97%;
  text-align: center;
  margin-left: 4.4%;
}

.article-show-all {
  position: relative;
  top: 30em;
  margin-left: -1em;
  width: 64%;
}

.header-container a{
  font-size: 39px;
}

.latest_article {
  position: absolute;
  height: 26em;
  width: 92%;
}
.article-show {
  width: 49%;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.header-article-info {
  width: 100%;
}

.image {
  position: relative;
  height: 20em;
  margin-right: 1em;
}

.article-show-right-container{
  width: 33%;
  float: right;
  position: relative;
  margin-top: -94.5em;
  margin-right: 2%;
  top: 0;
}

.article-full-width-separator{
  width: 153%;
  height: 38.5em;
  margin-bottom: 2em;
}

.image-mid-feature{
  width: 100% !important;
  height: 38.5em;
}

.article-show-right-indiv-article{
  height:42em;
  margin-bottom:40.5em;
}

.image-height-override-hundred{
  height: 41em!important;
}

.article-show-right-stretch{
  width:100%!important;
}



.article-show img {
  width: 78%;
  position: relative;
  // overflow: hidden ;
  -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
}


.text {
  margin: auto;
  font-size: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;
}



// .article-show:hover p {
//   font-size: 40px;
//   color: '#404040';
//   top: 40%;
//   left: 15%;
// }

// .article-show:hover .text .article-category{
//   font-size: 15px;
// }

// .article-show:hover .text .article-artist{
//   font-size: 40px;
// }


// .article-show:hover img {
//   opacity: 0.2;
// }

.article-info {
  position: absolute;
  left: 14%;
  top: 15%;
  
}

.article-info p {
  font-size: 47px;
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 0.6em;
  margin-left: -0.7em;
  text-align: left;
  height: 20px;
  color:white;
}

.article-info a {
  color: white;
}

.latest-article-image img {
  height: 100%;
}

.latest-article-image {
  height: 100%;
  width: 97%;
  margin-left: 1%;
  display: inline-block;
  margin-right: 2%;
}

.latest-article-images {
  height: 100%;
  width: 106%;
  margin-left: -2%;
}

.test {
  border: 1px solid black;
  position: relative;
}

.artist-link-text {
  z-index: 1000;
}

.header-artist-link-text {
  display: block;
  float: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: 67px;
  margin-top: 10%;
  margin-left: 3%;
  text-decoration: overline underline;
  color:white;
}

.header-artist-link-text a {
  color: white;
}

.article-category {
  position: relative;
}

.article-summary {
  position: relative;
}

.article-category p {
  position: absolute;
  color: white;
  top: 18em;
  left: 0.7em;
  font-size: 17px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 8px;
}

.article-summary p {
  position: absolute;
  color: white;
  top: 8em;
  line-height: 120%;
  text-align: left;
  left: 1.6em;
  font-size: 23px;
  font-family: 'Fjalla One', sans-serif;
}

.article-artist-name{
  height:30px;
}

.indiv-article-summary p{
  position: absolute;
  color: white;
  top: 6em;
  line-height: 104%;
  text-align: left;
  left: -1.2em;
  font-size: 15px;
  font-family: 'Fjalla One', sans-serif;
  width: 291%;
  }

.indiv-article-category{
  position: relative;
}

.indiv-article-category p{
  position: absolute;
  color: white;
  top: 9em;
  left: 0.7em;
  font-size: 17px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 8px;
}

.indiv-article-category p{
  color: white;
  left: -1em;

}

.search-box{
  float: right;
  margin-right: 6%;
  margin-top: -4%;
  height: 28px;
  width: 179px;
  border: 2px solid grey;
  border-radius: 5%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
}
















