.home-container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.article-show {
  width: 22%;
  margin: 1%;
  height: 8em;
  display: inline-block;
  font-size: 50px;
  position: relative;
}

.article-show img {
  vertical-align: top;
  max-width: 100%;
  padding: 40px;
  position: relative;
  overflow: hidden ;
  -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

}


.text {
  margin: auto;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  top: -100%;

}

.article-show:hover .text {
  font-size: 50px;
  top: 40%;
  left: 30%;

}

.article-show:hover img {
  opacity: 0.4;
}













