<!DOCTYPE html>
<html>
<head>
  <title>LukeMusicWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <div class="container">
      FITCHPORK
    </div>
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
